div {
  background: tomato;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
}
.float {
  float: left;
  background: magenta;
  height: 200px;
  width: 100px;
  color: white;
}

.float2 {
  clear: both;
  height: 400px;
}
.note {
  background: green;
  color:white;
}
.clearer {
  border: 0;
  display:hidden;
  clear:both;
}
pre {
  word-wrap: break-word;
  word-wrap: break-all;

}
p {
  word-wrap: break-word;
  word-wrap: break-all;
}

