html * {
	border: 0;
	margin: 0;
	padding: 0;
	color: white;
}
header {
	position: fixed;
	height: 3em;
	background-color: blue;
	color: white;
	width: 100%

}
header > div {
	display: inline;
}
main {
	position: absolute;
	top: 3em;
	bottom: 0;
	width: 100%;
}
nav {
	margin-top: auto;
	margin-bottom: auto;
	float:right;
	display: flex;
	justify-content: flex-end;
	background-color: green;
	color: white;

}
aside {
	float:left;
	width: 20%;
	background-color: darkblue;
	top: 0;
	bottom: 0;
	position: absolute;
}
section {
	width: 80%;
	background-color: snow;
	float: right;

}
section > div {
	display: inline-block;
	background-color: red;
	margin:10px;
	padding: 10px;
	border: 1px solid black;
	color: black;
	width: 250px;
	height: 250px;
}
iframe {
	margin: auto;

}
