<form action='/members/<%=@name%>' method='post'>
  <input name='_method' type='hidden' value='put'
  <p>Name:</p><input type='text' name='name'>
  <p>Birthday:</p><input type='text' name='bday'>
  <p>Location:</p><input type='text' name='location'>
  <input type='submit' value ='Update'>
</form>
<a href='/members'>Back to members</a>
