<form action='/members' method='post'>
  <p>Name:</p><input type='text' name='name'>
  <p>Birthday:</p><input type='text' name='bday'>
  <p>Location:</p><input type='text' name='location'>
  <input type='submit'>
</form>
<a href='/members'>Back to members</a>
